@import  url(http://fonts.googleapis.com/css?family=Monda:400,700);
@import  url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  border-radius: 0 !important;
}

/* ------------------------------ GENERAL STYLES ------------------------------ */

html, body {
  font-family: 'Open Sans', sans-serif; }
      
body {
  color: #333;
  font-size: 13px;
  line-height: 1.6; }

p, li {
  color: #555;
  line-height: 1.6; }

a,a:focus,a:hover,a:active {
  color: #8dcc8e;
  line-height:1.6;
  outline: 0 !important; }

a:hover {
  text-decoration: underline; }

h1,h2,h3,h4,h5 {
  margin-top: 20px;
  text-shadow: none;
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif; }

h3 i {
  margin-right: 7px; }
  
h5 {
  line-height:22px; }
      
/* ------------------------------ MARGIN BOTTOM ------------------------------ */

.margin-bottom-5,.margin-bottom-10,.margin-bottom-20,.margin-bottom-30,.margin-bottom-40,.margin-bottom-50 {
  clear: both;
}

.margin-bottom-5 {
  margin-bottom: 5px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

/* ------------------------------ HEADER/NAVIGATION STYLES (header1.css) ------------------------------ */

.top ul.loginbar > li > a:hover {
  color: #7c8082;
  font-size: 11px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif; }

.top ul.lenguages:after {
  top: -4px;
  width: 0;
  height: 0;
  left: 8px;
  content: " ";
  display: block;
  position: absolute;
  border-bottom: 6px solid #f0f0f0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-left-style: inset;
  border-right-style: inset; }

.top ul.lenguages li a:hover {
  background: #fafafa; }

.top ul.lenguages li a:hover {
  text-decoration: none; }

.header {
  z-index: 999;
  position: relative;
  border-bottom: solid 2px #eee; }

.header .navbar {
  margin: 0;
  min-height: inherit; }

.header .navbar-default {
  border: none;
  background: none; }

.header .navbar-collapse {
  position: relative; }

.header .navbar-brand {
  z-index: 2;
  position: relative;
  padding: 0; }

.header .navbar-default .navbar-nav > li > a {
  color: #687074;
  font-size: 15px;
  font-weight: 400;
  padding: 55px 10px 13px;
  text-transform: uppercase; }

.header .navbar-default .navbar-nav > .active > a {
  color: #8dcc8e; }

.navbar-toggle,.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
  background: #8dcc8e; }

.navbar-toggle:hover {
  background: #5fb611 !important; }

.navbar-default .navbar-toggle {
  border-color: #5fb611; }

.navbar-default .navbar-toggle .icon-bar {
  background: #fff; }

.header .navbar .nav > li > a.search:hover {
  color: #8dcc8e;
  border-bottom-color: #8dcc8e; }

.header .navbar-collapse {
  padding: 0; }

.header .navbar-nav {
  top: 2px;
  margin-top: 10px;
  position: relative; }

ul.nav li {
  list-style-type:none;
  background:none; }

.header .navbar-default .navbar-nav > li > a,.header .navbar-default .navbar-nav > li > a:focus {
  border-bottom: solid 2px transparent; }

.header .navbar-default .navbar-nav > li > a:hover,.header .navbar-default .navbar-nav > .active > a {
  border-bottom: solid 2px #8dcc8e; }

.header .navbar-default .navbar-nav > li > a,.header .navbar-default .navbar-nav > li > a:hover,.header .navbar-default .navbar-nav > li > a:focus,.header .navbar-default .navbar-nav > .active > a,.header .navbar-default .navbar-nav > .active > a:hover,.header .navbar-default .navbar-nav > .active > a:focus {
  background: none; }

.header .navbar-default .navbar-nav > .open > a:hover,.header .navbar-default .navbar-nav > .open > a:focus {
  color: #8dcc8e; }
  
/* ------------------------------ DROPDOWN MENU ------------------------------ */
.header .navbar-right .dropdown-menu {
  right: inherit; }

.header .navbar .nav > li > a i.icon-angle-down {
  top: -1px;
  left: 1px;
  font-size: 12px;
  position: relative;
  margin: 0 !important; }

.header .dropdown-menu { 
  padding: 0;
  border: none;
  min-width: 200px;
  border-radius: 0; 
  z-index: 9999 !important;
  margin-top: -2px !important; 
  border-top: solid 2px #8dcc8e; 
  border-bottom: solid 2px #687074; }

.header .dropdown-menu li a { 
  color: #687074; 
  font-size: 13px; 
  font-weight: 400; 
  padding: 6px 15px; 
  border-bottom: solid 1px #eee; }

.header .dropdown-menu .active > a,
.header .dropdown-menu li > a:hover {
  color: #fff;
  filter: none !important;
  background: #8dcc8e !important;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.header .dropdown-menu li > a:focus {
  background: none;
  filter: none !important; }

.header ul.dropdown-menu li {
  padding-left:0px;
  margin-left:0px; }
/* ------------------------------ responsive.css ------------------------------ */

.md-margin-bottom-40 {
  margin-bottom: 40px; }

/* ------------------------------ GENERAL STYLES ------------------------------ */

p {
  padding:0px 0px 15px; }

a:focus,
a:hover,
a:active,
.color,
.carousel-arrow a.carousel-control:hover,
.footer a,
.copyright a,
.footer a:hover,
.copyright a:hover,
.info-blocks:hover i.icon-info-blocks,
.blog li a:hover {
  color: #54C9F0; }

h2.color-green a {
  color:#8DCC8E; }
  
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px 0px 20px; }
  
ul li {
  background-image: url("/assets/img/check.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 20px;
  line-height:24px;
  margin-left:10px; }
      
ul li.second {
  background-image: url("/assets/img/check.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 20px;
  margin-left:40px; }
      
ul li.social {
  background-image:none;
  list-style:none; }
  
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin:10px 0px; }

/* ul {
  list-style:none outside none; } */

/* ul li {
  padding: 0px 0px 0px 24px;
  font-size: 13px;
  line-height: 21px;
  background: url("/assets/img/icons/thin_right_arrow.png") no-repeat scroll left 5px transparent;
  color: #8dcc8e; } */

.btn-u,.tab-v1 .nav-tabs > .active > a:hover,.tab-v1 .nav-tabs > .active > a:focus,ul.blog-tags a:hover {
  background: #8dcc8e; }

.service p:hover {
  text-decoration: none; }

.thumbnail-style a.btn-more:hover {
  box-shadow: 0 0 0 2px #57bc74; }

.headline h2 {
  border-bottom: 2px solid #8dcc8e; }

blockquote:hover,.hero {
  border-left-color: #8dcc8e; }

.pricing-footer a:hover,.pricing-footer button:hover {
  background: #40ba1a; }

.blog-post-tags ul.blog-tags a:hover {
  background: none repeat scroll 0 0 #8dcc8e; }

.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
  background-color: #8dcc8e;
  border-color: #8dcc8e; }

.copyright {
  background: none repeat scroll 0 0 #323438;
  border-top: 1px solid #777;
  font-size: 12px;
  padding: 11px 0 7px; }

.footer {
  background: #4d4f54; }

.list-large {
  font-size: 14px; }

.blog {
  width: 100%; }

.blog ul {
  margin-top: 5px;
  margin-bottom: 0; }

.blog-post-tags {
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  margin-bottom: 20px; }

.blog-post-tags li {
  background:none; }

.blog-readmore {
  margin-top:10px;
  margin-bottom: 40px;
  float:left; }

.blog-readmore .btn-u {
  font-size: 13px;
  width: 100px; }

.blog-page a {
  color: #54C9F0; }

.buttons-right {
  margin-top:10px;
  float:right; }

/* ------------------------------ BUTTONS ------------------------------ */

.btn-u {
  border: 0;
  font-size: 14px;
  cursor: pointer;
  padding: 6px 13px;
  position: relative;
  background: #54C9F0;
  display: inline-block;
  color: #fff !important;
  text-decoration: none !important; }

.btn-u:hover {
  color: #fff;
  background: #0fb2e8;
  text-decoration: none;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }

.purchase a.btn-buy:hover,.btn-u:hover {
  background: #0fb2e8; }

.btn-u-blue {
  background:54C9F0 !important; }
    
.btn-u-blue:hover {
  background: #2980b9 !important; }

/* ------------------------------ STICKY FOOTER ------------------------------ */

html,body {
  height: 100%; }
      
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -320px;
  padding: 0 0 320px; }
      
.stickyFooter {
  height: 320px;
  background-color: #323438; }

/* ------------------------------ Blog specific fix for the sticky footer ------------------------------ */ 

.wrapBlog {
  min-height: 100%;
  height: auto;
  margin: 0 auto -320px;
  padding: 0px; }

/* ------------------------------ Standard page ------------------------------ */

.page { }

.page h1, h2, h3, h4  {
  color: #8dcc8e; }

/* ------------------------------ SOCIAL STYLES ------------------------------ */

.social-icons {
  margin: 0;
  padding: 0; }

.social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-indent: -9999px;
  background: none;
  padding: 0;
  margin-left: 0; }

.social-icons li a {
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out; }

.social-icons li:hover a {
  background-position: 0 -38px; }

.social-icons-color li a:hover {
  opacity: 1; }

.social_facebook {
  background: url(../img/icons/social/facebook.png) no-repeat; }

.social_github {
  background: url(../img/icons/social/github.png) no-repeat; }

.social_googleplus {
  background: url(../img/icons/social/googleplus.png) no-repeat; }

.social_instagram {
  background: url(../img/icons/social/instagram.png) no-repeat; }

.social_rss {
  background: url(../img/icons/social/rss.png) no-repeat; }

.social_twitter {
  background: url(../img/icons/social/twitter.png) no-repeat; }

.social_youtube {
  background: url(../img/icons/social/youtube.png) no-repeat; }

.fa-icons li:hover,.color-green,.service:hover p,.footer a {
  color: #8dcc8e; }

.fa-icons li:hover i,.panel-green > .panel-heading {
  color: #fff;
  background: #8dcc8e; }

.YouTube {
  padding-top: 50px;
  margin: 0 auto;
  width: 500px; }
      
.buttons {
  float:right;
  width:360px;
  padding-left:5px;
  text-align:right; }
    
.fb-like {
  padding-top: 3px;
  float:left; }
  
.twitter-share-button {
  margin-top: 3px;
  margin-left:25px;
  float:left; }
  
.google_plus {
  padding-top: 3px;
  float:left; }

/* ------------------------------ TABLE STYLES ------------------------------ */

table {
  width:100%;    }

th {
  background-color:#8dcc8e;
  color:#fff;
  padding:8px 10px;
  font-weight:normal;    }

td {
  padding:8px 10px; }

tbody > tr:nth-child(even) > td,
tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
  border-top:1px solid #eaeaea;
  border-bottom:1px solid #eaeaea; }
  
/* ------------------------------ PRICING STYLES ------------------------------ */

.pricing ul li {
  background-image: none;
  padding-left: 0px;
  line-height:24px;
  margin-left:10px; }

.pricing ul li i {
  color:#8dcc8e;
  padding-right:5px; }
  
.pricing-head h3 {
  color:#ffffff;
  padding:12px 0;
  font-size:35px;
  font-family:Arial;
  background:#8dcc8e;
  border-radius:3px 3px 0 0;
  text-shadow:0 1px 0 #32a20f;
  border-bottom:solid 1px #41b91c; }
  
.pricing-head h4 {
  color:#8dcc8e;
  padding:5px 0;
  font-size:70px;
  font-family:Arial;
  background:#fbfef2;
  text-shadow:0 1px 0 #fff;
  border-bottom:solid 1px #f5f9e7; }
  
/* ------------------------------ TRAINING PAGE STYLES ------------------------------ */

a.thumbnail {
  padding: 0;
  border: none;
  margin-bottom: 15px; }
    
.thumbnail-style { 
  padding: 5px;
  margin-bottom: 20px; }
    
.thumbnail-style:hover { 
  box-shadow: 0 0 8px #ddd; 
  -webkit-transition: box-shadow 0.2s ease-in-out;
  -moz-transition: box-shadow 0.2s ease-in-out;
  -o-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out; }
    
.thumbnail-style h3 {
  color: #8dcc8e;
  font-size: 18px;
  margin: 5px 0; }
    
.thumbnail-style .thumbnail-img {
  position: relative;
  margin-bottom: 10px; }

a i.icon-github, a i.icon-linkedin, a i.icon-twitter, a i.icon-google-plus {
  text-decoration:none; }

/* ------------------------------ TESTIMONIALS ------------------------------ */

.testimonials {
  margin-bottom: 20px; }

.testimonials .testimonial-info {
  color: #54C9F0;
  font-size: 16px;
  padding: 0 60px;
  margin-top: 18px; }

.testimonials .testimonial-info span {
  top: 3px;
  position: relative; }

.testimonials .testimonial-info em {
  color: #777;
  display: block;
  font-size: 13px; }

.testimonials .testimonial-info img {
  width: 60px;
  float: left;
  height: 60px;
  padding: 2px;
  margin-right: 15px;
  border: solid 1px #ccc;
  border-radius: 50% !important; }

.testimonials .testimonial-author {
  overflow: hidden; }

.testimonials .carousel-arrow {
  top: -65px;
  position: relative; }

.testimonials .carousel-arrow i {
  color: #777;
  font-size: 20px;
  padding: 2px 8px;
  background: #fafafa; }

.testimonials .carousel-arrow i:hover {
  color: #fff;
  background: #8dcc8e; }

.testimonials .carousel-control {
  opacity: 1;
  width: 100%;
  text-align: right;
  text-shadow: none;
  position: absolute; }
    
.testimonials .carousel-control.left {
  right: 27px;
  left: auto; }

.testimonials .carousel-control.right {
  right: 0px; }

.testimonials.testimonials-v1 .item p {
  color:#fff;
  padding: 15px;
  font-size: 14px;
  font-style: italic;
  position: relative;
  background: #54C9F0; }

.testimonials.testimonials-v1 .item p:after,
.testimonials.testimonials-v1 .item p:before {
  width: 0; 
  height: 0;
  left: 80px;
  content: " "; 
  bottom: -20px;
  display: block; 
  position: absolute; }

.testimonials.testimonials-v1 .item p:after {
  border-top: 22px solid #54C9F0;    
  border-left: 0 solid transparent;
  border-right: 22px solid transparent;
  border-left-style: inset; /*FF fixes*/
  border-right-style: inset; /*FF fixes*/ }

/* ------------------------------ TRAINING SLIDE STYLES ------------------------------ */

.reveal {
  background:#ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #666666; }

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin-top: 5px;
  text-shadow: none;
  font-weight: 400 !important;
  font-family: 'Open Sans', sans-serif;
  color:#8dcc8e;
  text-transform:none; }

.reveal h1 {
  font-size: 60px;
  text-shadow: none;
  letter-sapcing:0px; }

.reveal h2 {
  font-size: 50px;
  letter-sapcing:0px; }

.reveal h3 {
  font-size: 46px;
  letter-sapcing:0px; }

.reveal h4 {
  font-size: 38px; }

.reveal h5 {
  font-size: 32px; }

.reveal h6 {
  font-size: 26px; }

.reveal p {
  font-size:30px;
  color:#666666; }

.reveal p small {
  font-size:22px; }

.reveal ul > li {
  font-size:28px;
  color:#666666;
  line-height:34px;
  text-align:left; }

.reveal ol > li {
  font-size:28px;
  color:#666666;
  line-height:38px;
  text-align:left; }

.slidenumber {
  color:#8dcc8e;
  float:right;
  padding-right:50px;
  font-size:20px;
  position:relative; }

/* ------------------------------ BOOK STYLES ------------------------------ */

.book .hero h2 {
  border-bottom:none;
  padding:20px 0px 10px;
  margin:0px; }
    
.book h1 {
  color:#8dcc8e;
  display: block;
  margin: 10px 0 25px;
  padding:10px 0px 5px;
  border-bottom: 1px dotted #8dcc8e; }
      
.book h2 {
  display: block;
  margin: 10px 0 25px;
  padding-bottom:8px;
  border-bottom: 1px dotted #e4e9f0; }

.book p {
  font-size:15px; }

.bookTOC ul, .book ol {
  margin-bottom:30px; }
    
.bookTOC ul {
  list-style-type: none;
  padding: 0px; }
  
.bookTOC ul li {
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  font-size:22px;
  line-height:28px;
  margin-left:0px;
  padding:10px 0px 0px; }

.bookTOC ul li a {
  color:#555; }
    
.bookTOC ul li a:hover {
  color:#54C9F0;
  text-decoration:underline; }

.bookTOC ul li ul {
  margin-bottom:0px; }
    
.bookTOC li ul li {
  background-image: url("/assets/img/check.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  color:#555;
  font-size:14px;
  padding: 0px 0px 0px 20px;
  line-height:24px;
  margin-left:10px; }
      
.bookTOC li ul li a {
  color:##555; }
    
.bookTOC .hero {
  padding: 10px 30px;
  margin: 20px 0px;
  color: #566c8a;
  font-size: 16px;
  background: #fcfcfc;
  border-left: 4px solid #94c564;
  font-family: 'Open Sans', sans-serif;
}

.book ol li p {
  font-size:14px;
  padding:0px; }

.book ul {
  margin-bottom:20px; }

.book ul li {
  font-size:14px;
  margin-top:5px; }
    
/* .book .highlight {
  background-color: #f3fafc;
  border: 1px solid #8edcf6;
  margin:0px 0px 20px;
  padding:15px; } */
    
.book pre code {
  padding: 0px;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0px none;
  line-height: 22px; }
